body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f2f2f2;

}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-image: url("/pictures/small.jpg");

}

h1 {
    text-align: center;

}

.span {
    color: skyblue;
}

.search {
    border-radius: 5px;
}

input {
    width: calc(100% - 90px);
    padding: 10px;
}

button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button {
        padding: 0.25em 0.75em;
    }
}


.button-33 :hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}



.weather-info {
    margin-top: 20px;
    text-align: center;

}

.error-message {
    color: red;
    margin-top: 20px;
}

.weather-info h3 {
    text-align: center;
    color: rgb(14, 2, 15);
    font-size: 30px;
    font-weight: bold;

}



.weather-info ul {
    list-style-type: none;



}
.weather-info li {
    text-align: center;
    margin: 7px 0;
    padding: 20px;
    background-image: url("/pictures/small.jpg");
    opacity: 0.5;
    border-radius: 8px;
    font-weight: bolder;

}

.weather-info li div {
    background-color: yellowgreen;
    opacity: 1.5;
    font-weight: 600;
    border-radius: 5px;
   max-width: 200px;
   margin-left: 154px;
}